*junk
junk*
###########
## Common
###########
*.bak
ignore/
Desktop.in
*.htaccess
*Thumbs.db
*.DS_Store
*~imageoptim*

####################
## Grunt/Gulp Stuff
####################
.sass-cache
node_modules/
*.sass-cache*
*node_modules*
*npm-debug.log*
*package-lock.json*

####################
## Wordpress Stuff
####################
wp-config.php

uploads/
wflogs/
cache/
plugins/fakerpress/

########################
# Compiled Gulp Files
########################


themes/**/assets/js/lib.js

########################
# MISC
########################

wp-rocket-config/localhost.php
build/
docker-compose.yml
advanced-cache.php
/sitemap.*

