.image-grid
  margin: 0 auto
  max-width: 1840px
  .image-block
    margin-bottom: 30px
    // height: 400px
  @include media-breakpoint-up(lg)
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
    margin-bottom: 30px
    .image-block
      margin: 0
  @supports(object-fit: cover)
    .image-block
      img
        height: 560px
        width: 100%
        object-fit: cover
