.map-feauture
  // padding:  0 120px
  background-image: url('../img/texture-1.jpg')
  background-repeat: repeat
  position: relative
  background-size: 100%
  padding-bottom: 30px
  padding-top: 30px
  @include media-breakpoint-up(lg)
    background-size: 800px
    padding-bottom: 0
  .container
    padding: 0
    figure
      overflow: hidden
      margin-bottom: -60px
      @include media-breakpoint-up(lg)
        margin-bottom: 0
      img
        width: 145vw
        position: relative
        left: -30vw
        max-width: none
        // position: absolute
    @include media-breakpoint-up(lg)
      padding: 0 30px
    .content
      z-index: 12
      position: relative
      padding: 0 30px
      @include media-breakpoint-up(lg)
        padding: 0
      > h2
        color: $type_color
        // font-size: 5rem
        margin-bottom: 30px
        &::after
          content: ""
          display: block
          height: 10px
          width: 80px
          background: $tertiary
          margin-top: 30px
      .stats
        display: grid
        grid-template-columns: repeat(3, 1fr)
        margin: 0 0 40px 0
        gap: 30px
        .stat
          @include media-breakpoint-up(lg)
            position: relative
            // padding: 20px 0
            &:last-child

              &::after
                content: none
            &::after
              content: ""
              display: block
              width: 1px
              height: 100%
              position: absolute
              top: 0
              right: -15px
              background: #E5E0D6
          h4
            color: $secondary
            // text-transform: uppercase
            font-size: 1.8rem
            @include media-breakpoint-up(lg)
              // font-size: 3.3rem
              font-size: 1.8rem
          h3
            color: $primary
            margin-bottom: 10px
            line-height: 1
            @include media-breakpoint-up(lg)
              font-size: 4.5rem
    @include media-breakpoint-up(lg)
      padding-left: 0
      display: grid
      gap: 30px
      align-items: center
      grid-template-columns: repeat(12, 1fr)
      figure
        grid-column: 1 / span 9
        grid-row: 1
        overflow: hidden
        img
          width: 100%
          margin-left: -80px
          left: 0
          position: static
          max-width: 100%
      .content
        grid-column: 8 / span 5
        grid-row: 1
        z-index: 11
        // margin-top: 220px
        padding-bottom: 30px
