.map-feauture
  // padding:  0 120px
  background-image: url('../img/texture-1.jpg')
  background-repeat: repeat
  position: relative
  background-size: 100%
  padding-bottom: 30px
  padding-top: 30px
  max-width: 1840px
  margin: 0 auto

  @include media-breakpoint-up(lg)
    background-size: 800px
    padding-bottom: 0
  .container
    padding: 0
    figure
      overflow: hidden
      margin-bottom: -80px
      @include media-breakpoint-up(lg)
        margin-bottom: 0
      img
        width: 125vw
        position: relative
        max-width: none
        left: -15vw
        @include media-breakpoint-up(lg)
          width: 145vw

          left: -30vw

        // position: absolute
    @include media-breakpoint-up(lg)
      padding: 0 30px
    .content
      z-index: 12
      position: relative
      padding: 0 30px
      @include media-breakpoint-up(lg)
        padding: 0
      > h2
        color: $type_color

        @include media-breakpoint-up(md)
          font-size: 8rem

        @include media-breakpoint-up(lg)
          max-width: 100%
          font-size: 5rem
        margin-bottom: 30px
        &::after
          content: ""
          display: block
          height: 10px
          width: 80px
          background: $tertiary
          margin-top: 30px
      .stats
        margin: 40px 0

        @include media-breakpoint-up(sm)
          display: flex
        @include media-breakpoint-up(lg)
          margin: 60px 0 40px
        .stat
          position: relative
          padding: 10px 0
          // flex: 0 0 33.3334%
          border-bottom: solid 1px #E5E0D6
          @include media-breakpoint-up(sm)
            border: none
            padding: 0 30px 0

            &:first-child
              padding-left: 0
            &:last-child
              padding-right: 0
              &::after
                content: none
            &::after
              content: ""
              display: block
              width: 1px
              height: 100%
              position: absolute
              top: 0
              right: 0
              background: #E5E0D6
          @include media-breakpoint-up(lg)
            position: relative
          h4
            color: $secondary
            font-size: 1.8rem
            @include media-breakpoint-up(lg)
              font-size: 2rem
          h3
            color: $primary
            margin-bottom: 10px
            line-height: 1

            @include media-breakpoint-up(md)
              font-size: 6rem
            @include media-breakpoint-up(lg)
              font-size: 3.5rem
            @include media-breakpoint-up(xl)
              font-size: 5rem
    @include media-breakpoint-up(lg)
      padding-left: 0
      display: grid
      gap: 30px
      align-items: center
      grid-template-columns: repeat(12, 1fr)
      figure
        grid-column: 1 / span 9
        grid-row: 1
        overflow: hidden
        img
          width: 100%
          margin-left: -80px
          left: 0
          position: static
          max-width: 100%
      .content
        grid-column: 8 / span 5
        grid-row: 1
        z-index: 11
        // margin-top: 220px
        padding-bottom: 30px
